---
import Layout from '../layouts/Layout.astro';
import '@/globals.css';
import { Confetti, CongratsCard } from '@/components/congrats.tsx'

// get score from query params as number
const score = Astro.url.searchParams.get('score') || '0';
const totalQuestions = Astro.url.searchParams.get('totalQuestions') || '0';
---

<Layout title="Congrats | Dildash.">
<main class="py-80">
<Confetti/>
  <CongratsCard score={score} totalQuestions={totalQuestions} client:load/>

	</main>
</Layout>
