---
import Layout from '../layouts/Layout.astro';
import MainPageCard from '@/components/mainCard.tsx';
import '@/globals.css';
---

<Layout title="Welcome to Astro.">
<main class="py-80">
    <MainPageCard client:load/>
	</main>
</Layout>

