---
import Layout from '../layouts/Layout.astro';
import AudioCard from '@/components/audioCard2.tsx';
import '@/globals.css';

const audioUrl='/audio/demo.mp3'
//const theme = Astro.url.searchParams.get('theme') || '';
//const tone = Astro.url.searchParams.get('tone') || '';
//const level = Astro.url.searchParams.get('level') || '';
const name = Astro.url.searchParams.get('name') || '';
---

<Layout title="Player | Dildash.">
<main>
    <div class="h-10 "/>
    <AudioCard  name={name} audioUrl={audioUrl} client:load/>
    <div class="h-10"/>
	</main>
</Layout>
