---
import Layout from '../layouts/Layout.astro';
import AudioCard from '@/components/audioCard2.tsx';
import '@/globals.css';
---

<Layout title="Welcome to Astro.">
<main>
    <div class="h-10 "/>
    <AudioCard client:load/>
    <div class="h-10"/>
	</main>
</Layout>
